#errorWrapper {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#errorWrapper a {
  text-decoration: none;
  color: rgb(43, 43, 223);
}
#errorWrapper a:hover {
  color: rgb(79, 79, 224);
}
